.get-useful-mailing {
    margin: -120px auto 0 auto;
    max-width: 1180px;
    display: flex;
    justify-content: space-evenly;
    gap: 65px;
    z-index: 100;
    border-radius: 6px;
    background: #FDFDFD;
    box-shadow: 0px 0px 15px 0px rgba(24, 18, 30, 0.12);
    padding: 40px 100px;
    position: absolute;
    left: 0;
    right: 0;
}

.useful-title-best {
    font-size: 1.5rem;
}

.wrapper-form-email-mailing {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.style-input-email {
    display: flex;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
    background: #F3F5F4;
    width: 280px;
    padding: 0px 16px;
    height: 44px;
    border: none;
}

.wrapper-email-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.position-button-submit {
    align-self: center;
}

.input-button-wrapper {
    display: flex;
    gap: 16px;
}

.description-text-form {
    margin: 0;
    font-weight: 600;
    line-height: 22px;
    text-decoration-line: underline;
}


.label-style-email {
    color: #18121E;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 125% */
}