.introduction {
    max-width: 1180px;
    width: 100%;
    margin: 100px auto;
    display: flex;
    gap: 245px;
}

.media-wrapper {
    display: flex;
    position: relative;
}

.about-mountains {
    max-width: 350px;
    max-height: 400px;
}

.about-video {
    position: absolute;
    max-width: 350px;
    max-height: 400px;
    z-index: 10;
    left: 40%;
    top: 130px;
}

.about-video .about-video-btn {
    background-image: url(../imgPC/button-play-main.png);
    background-size: cover;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    border-radius: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.4s ease;
    background-color: rgba(0, 0, 0, 0.1);
}

.about-video-btn:hover {
    transform: translate(-50%, -50%) scale(1.3);
}

.description {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 65px;
    padding: 0px 15px;
}


@media (max-width: 900px) {

    .introduction {
        flex-direction: column-reverse;
        gap: 40px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .description {
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    .media-wrapper {
        justify-content: center;
        align-items: center;
    }

    .media-wrapper .about-mountains:nth-child(1) {
        display: none;
    }

    .about-video {
        position: relative;
        max-width: 360px;
        max-height: 420px;
        z-index: 0;
        left: 0;
        top: 0;
    }
}


@media (max-width: 600px) {

    .wrapper-for-video {
        padding: 10px;
    }

    .house-forest-landScape {
        max-width: 100%;
        height: auto;      
    }
    .description {
        margin-top: 0px;
    }
}
