.our-impressions {
  max-width: 1180px;
  width: 100%;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  margin: 80px auto;
  gap: 40px;
  overflow: hidden;
}

.swiper-wrapper-custom-second.impressions-list {
  /* display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto; 
    gap: 20px;  */
  display: flex;
  flex-wrap: wrap;
}


.popular-tours-titles.centre-position {
  margin-bottom: 40px;
}

.swiper-slide.box-tips {
  display: flex;
  background: #fdfdfd;
  padding: 16px 16px;
  gap: 25px;
  max-width: 540px;
  /* height: 312px; */
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* .swiper-slide.box-tips {
    max-width: 580px;
    width: 100%;
} */

.wrapper-for-information {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 300px;
  width: 100%;
}
.title-article {
  margin: 0;
  font-size: 1.5rem;
}
.short-introduction {
  margin: 0;
  font-size: 14px;
}
.wrapper-details {
  display: none;
}

.wrapper-details-inside {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}
.date {
  color: #f2be22;
  font-size: 14px;
}
.read-article {
  font-size: 14px;
}

.other-materials {
  max-width: 220px;
  padding: 16px 36px;
  align-self: center;
  margin: 50px auto 0px auto
}

.wrapper-for-last-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.swiper-wrapper-custom-second.impressions-list {
  width: 1275px;
}

/* @media (max-width: 1000px) and (min-width: 801px) {
  .box-tips img {
    width: 100%;
    height: auto;
  }
} */

@media (max-width: 1170px) {
  .swiper-wrapper-custom-second.impressions-list {
    display: flex;
    flex-wrap: nowrap;
  }

  .title-article {
    font-size: 20px;
  }

  .wrapper-for-information {
    gap: 16px;
    padding: 0px 16px 16px 16px;
  }

  .short-introduction {
    line-height: 20px;
  }

  .wrapper-details {
    display: flex;
    gap: 30px;
    margin-top: auto;
  }

  .wrapper-details-inside {
    display: none;
  }
  .read-article {
    text-align: center;
    padding-right: 16px;
    padding-bottom: 16px;
  }

  .date {
    padding-left: 16px;
  }

  .box-tips {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px;
    margin: 0px;
  }

  .custom-options {
    /* width: 100%; Ширина контейнера на всю доступную ширину */
    /* display: flex;  Для выравнивания по горизонтали */
    /* justify-content: center;  Выравнивание по горизонтали по центру */
    /*  align-items: center; Выравнивание по вертикали по центру */
  }

  /* Стили для слайдов Swiper */
  .box-tips {
    /* width: 100%;  Ширина слайдов на всю доступную ширину */
    /* text-align: center;  Выравнивание текста по центру */
    /* Добавьте другие стили по вашему усмотрению */
  }
}

@media (max-width: 750px) {
  .wrapper-for-information {
    padding-left: 0px;
  }
}

@media (max-width: 350px) {
  .swiper-wrapper-custom-second.impressions-list {
    align-items: center;
    justify-content: center;
  }

  .swiper-slide.box-tips {
    padding: 0;
  }

  .wrapper-for-information {
    padding-left: 7px;
  }
}
