.photo-report {
  max-width: 1200px;
  width: 100%;
  margin: 80px auto 220px;
  /* display: flex; */
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.photo-titles {
  text-align: center;
}

.swiper-wrapper.swiper-wrapper-custom-third.photo-report-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.swiper-slide.photo-report-item {
  min-width: 280px;
}

.swiper-slide.photo-report-item:nth-child(1) {
  min-width: 580px;
}

.swiper-slide.photo-report-item:nth-child(5) {
  min-width: 580px;
}

/* .wiper-slide.photo-report-item.big-picture {
  min-width: 580px;
} */

.first-list-of-pictures {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.second-list-of-pictures {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* 
@media (max-width: 1200px) and (min-width: 900px) {
    .photo-report-item img {
        width: 100%;
        height: auto;
    }

    .photo-report-list {
        flex-wrap: nowrap;
    }
}

 */

@media (max-width: 1200px) {
  .swiper-wrapper.swiper-wrapper-custom-third.photo-report-list {
    flex-wrap: nowrap;
  }

  .swiper-slide.photo-report-item {
    max-width: 280px;
  }
}

@media (max-width: 600px) {
  /* .swiper-slide.photo-report-item:nth-child(1) {
    max-width: 280px;
  }

  .swiper-slide.photo-report-item:nth-child(5) {
    max-width: 280px;
  } */

  .wiper-slide.photo-report-item.big-picture {
    max-width: 280px;
  }
}



/* .background-first-image {
    background-image: url(../imgPC/airBalloonPC.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 480px;
    height: 250px;
}

.background-second-image {
    background-image: url(../imgPC/mapAndThingsPC.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 280px;
    height: 250px;
}

.background-third-image {
    background-image: url(../imgPC/sidneyPC.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 280px;
    height: 250px;
}

.background-fourth-image {
    background-image: url(../imgPC/beachPC.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 280px;
    height: 250px;
}

.background-fifth-image {
    background-image: url(../imgPC/stoneСanyonPC.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 580px;
    height: 250px;
}

.background-sixth-image {
    background-image: url(../imgPC/oldThingsPC.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 280px;
    height: 250px;
} */

/* .photo-report-item picture {
    width: 100%;
    height: 100%;
    object-fit: cover;	
}

.picture-from-photo-report {
    width: 100%; 
    height: auto;
} */

/* .photo-report-list .photo-report-item:nth-child(1) {
    max-width: 680px;
    width: 100%;
    max-height: 250px;
    height: 100%;
}

.photo-report-list .photo-report-item:nth-child(2),
.photo-report-list .photo-report-item:nth-child(3),
.photo-report-list .photo-report-item:nth-child(4),
.photo-report-list .photo-report-item:nth-child(6) {
    max-width: 280px;
    width: 100%;
    max-height: 250px;
    height: 100%;
}

.photo-report-list .photo-report-item:nth-child(5) {
    max-width: 580px;
    width: 100%;
    max-height: 250px;
    height: 100%;
} */
