.popular-tours {
    max-width: 1180px;
    width: 100%;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    margin: 80px auto;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.titles-position {
    margin-bottom: 50px;
}

.swiper .swiper-wrapper .swiper-slide.the-tour {
    /* max-width: 380px;
    width: 100%;
    max-height: 500px; 
   height: 100%; */
    border-radius: 32px;
    position: relative;
    overflow: hidden;
    margin: 0px;
}

.popular-tours-titles {
    text-align: center;
}

.swiper-wrapper-custom {
    display: flex;
    padding: 0px 0px;
}

.wrapper-tour-rating {
    display: flex;
    width: 65px;
    padding: 4px 8px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px 0px 0px 4px;
    background: rgba(253, 253, 253, 0.4);
    backdrop-filter: blur(2px);
    position: absolute;
    right: 0;
    top: 50px;
}

.size-rating-button {
    max-width: 250px;
    max-height: 250px;
    padding: 16px 36px;
    margin: 50px auto 0 auto;
}

.description-popular-tour {
    border-radius: 32px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
    max-width: 500px;
    width: 100%;
    height: 500px;
    /* height: 100%; */
    padding: 30px 15px 20px 15px;
    color: #fdfdfd;
    transform: translateY(390px);
    transition: transform 1.9s;
}

.move__description {
    transform: translateY(0px);
    transition: transform 1.9s;
}

.wrapper-title-price {
    display: flex;
    justify-content: space-between;
}

.title-tour {
    margin: 0px;
    font-size: 1.5rem;
}

.rating-of-tour {
    font-size: 14px;
}

.prise-of-tour {
    display: inline-flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 90px;
    width: 100%;
    max-height: 40px;
    height: 100%;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.3);
    align-self: center;
    margin-right: 25px;
}

.short-description {
    font-size: 14px;
}

.text-description-and-link {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 90px;
}

.text-popular-tour {
    font-size: 1rem;
}

.swiper.mySwiper {
    align-self: flex-start;
}

.lake-near-mountains {
    background-image: url(../imgPC/the-in-mountains.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.night-in-mountains {
    background-image: url(../imgPC/at-the-mountains.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.yoga-in-mountains {
    background-image: url(../imgPC/yoga-in-mountains.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


@media (max-width: 1000px) {
    .title-tour {
        margin: 0px;
        font-size: 18px;
    }
}


/* @media (max-width: 868px) { */
    /* .swiper-slide.the-tour {
        margin-right: 20px;
        width: 380px;
       height: 500px;
    } */

 
    /* .swiper-slide {
        width: 100%;
        height: 100%;
      }

      .swiper {
        width: 400px;
        height: 520px;
      } */
/* } */
/* 
@media (max-width: 450px) { */
    /* .swiper-slide.the-tour {
        width: 280px !important;
    } */
/* } */