.dropdown_button {
    position: relative;
    display: block;
    width: 100%;
    text-align: left;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #E1E3E4;
    border-radius: 8px;
    height: 52px;
    width: 236px;
    padding: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    cursor:pointer;
    color: #FDFDFD;
  }
  
  .dropdown_button:focus, .dropdown_button--active {
    outline: none;
    box-shadow: 0px 0px 0px 4px rgba(176, 198, 225, 0.6);
  }
  
  .dropdown_button::after {
    content: "";
    position: absolute;
    top:50%;
    right: 15px;
    transform: translateY(-50%);
    background-image: url(../imgPC/arrow.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    transition: transform 0.4s ease;
    /* // снимаем клик с иконки */
  /* pointer-events: none; */
  }
  
  .dropdown_button.open__btn::after {
    transform: rotateX(180deg) translateY(50%);
    transition: transform 0.4s ease;
    
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown__list {
   display: none;
    position: absolute;
    left: 0;
    top: 52px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: #FFFFFF;
    /* box-shadow: 0px 4px 8px rgba(176, 198, 225, 0.6); */
    overflow: hidden;
  
    border-radius: 6px;
    width: 270px;
    z-index: 60;
  }
  
  .dropdown__list--visible {
    display: block;
  }
  
  .dropdown__list-item {
    margin: 0;
    padding: 0;
    /* border: 1px solid orange; */
    color: black;
    border-bottom: 0px;
    padding: 10px;
    cursor: pointer;
    transition: color 0.4s, background-color 0.4s;
  }
  
  .dropdown__list-item:first-child {
    border-radius:  6px 6px 0 0;
  }
  
  .dropdown__list-item:last-child {
    border-radius:  0 0 6px 6px;
    border-bottom: 1px solid #7e9bbd;
  }
  
  .dropdown__list-item:hover {
    color: #FDFDFD;
    background-color: #1A3E3E;
    transition: color 0.4s, background-color 0.4s;
  }
  
  .dropdown__input-hidden {
    display: none;
  }

  @media (max-width:1140px) {
    .dropdown_button {
      width: 200px;
    }
   
  }
  
